<div class="box">
  <%= form_with(model: evaluation, local: true) do |form| %>
    <% if evaluation.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

        <ul>
          <% evaluation.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :value %>
      <div class="control">
        <%= form.range_field :value, min: 0, max: 1, step: 0.25, style: "width: auto;" %>
      </div>
    </div>

    <div class="field">
      <%= form.label :comment %>
      <div class="control">
        <%= form.text_area :comment %>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <%= form.submit class: "is-primary" %>
      </div>
    </div>
  <% end %>
</div>
