<h1><%= t(".title", default: "Editing Evaluation") %></h1>

<%= render 'form', evaluation: @evaluation %>

<div class="box">
  <div class="columns">
    <div class="column">
      <%= link_to t("actions.show"), @evaluation %>
    </div>
    <div class="column">
      <% if @previous_evaluation %>
      <%= link_to t("actions.previous"), edit_evaluation_path(@previous_evaluation) %>
      <% end %>
    </div>
    <div class="column">
      <% if @next_evaluation %>
      <%= link_to t("actions.next"), edit_evaluation_path(@next_evaluation) %>
      <% end %>
    </div>
    <div class="column">
      <%= link_to t("actions.back"), assignment_evaluations_path(@assignment) %>
    </div>
  </div>
</div>

<% if @evaluation_in_previous_period -%>
  <div class="box">
    <%= render "index", evaluations: [@evaluation_in_previous_period] %>
  </div>
<% end -%>

<div class="box">
  <%= render "items/show", item: @item %>
</div>

<div class="box">
  <%= render "events/index", events: @evaluation.events %>
</div>
