<h1><%= t(".title", default: Evaluation.model_name.human_plural) %></h1>

<div class="box">
  <div class="columns">
    <div class="column">
      <%= link_to(t(".synchronize"),
                  synchronize_assignment_evaluations_path(@assignment),
                  data: {
                    turbo_confirm: t("actions.confirmations.synchronize"),
                    turbo_method: :post,
                  }) %>
    </div>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th><%= Period.model_name.human %></th>
      <th><%= Assignment.human_attribute_name("evaluatee") %></th>
      <th><%= Assignment.human_attribute_name("evaluator") %></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= link_to(@assignment.period.name,
                      @assignment.period) %></td>
      <td><%= @assignment.evaluatee.display_name %></td>
      <td><%= @assignment.evaluator.display_name %></td>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th><%= ItemGroup.model_name.human %></th>
      <th><%= Item.model_name.human %></th>
      <th><%= Evaluation.human_attribute_name("value") %> </th>
      <th><%= Evaluation.human_attribute_name("comment") %> </th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @evaluations.each do |evaluation| %>
      <tr>
        <td>
          <%= link_to(evaluation.item.item_group.name,
                      evaluation.item.item_group) %>
        </td>
        <td>
          <%= render "items/show", item: evaluation.item %>
        </td>
        <td><%= evaluation.value %></td>
        <td><%= render_markdown(evaluation.comment) %></td>
        <td><%= link_to t("actions.show"), evaluation %></td>
        <td><%= link_to t("actions.edit"), edit_evaluation_path(evaluation) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
