<div class="box">
  <%= render "index",
             evaluations: [
               @evaluation,
               @evaluation_in_previous_period,
             ].compact %>
</div>

<div class="box">
  <div class="columns">
    <div class="column">
      <%= link_to t("actions.edit"), edit_evaluation_path(@evaluation) %>
    </div>
    <div class="column">
      <%= link_to_if @previous_evaluation,
                     t("actions.previous"),
                     @previous_evaluation %>
    </div>
    <div class="column">
      <%= link_to_if @next_evaluation,
                     t("actions.next"),
                     @next_evaluation %>
    </div>
    <div class="column">
      <%= link_to t("actions.back"), assignment_evaluations_path(@assignment) %>
    </div>
  </div>
</div>

<div class="box">
  <%= render "items/show", item: @item %>
</div>

<div class="box">
  <%= render "events/index", events: @evaluation.events %>
</div>
