<div class="box">
  <%
    if evaluation_report.persisted?
      model = evaluation_report
    else
      model = [evaluation_report.evaluation_target, evaluation_report]
    end
  -%>
  <%= form_with(model: model, local: true) do |form| %>
    <% if evaluation_report.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(evaluation_report.errors.count, "error") %> prohibited this evaluation_report from being saved:</h2>

        <ul>
          <% evaluation_report.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :content %>
      <div class="control">
        <%= form.text_area :content %>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <%= form.submit class: "is-primary" %>
      </div>
    </div>
  <% end %>
</div>
