<h2><%= t("labels.previous_period") %></h2>

<p><%= link_to(@previous_evaluation_target.period.name,
               @previous_evaluation_target.evaluation_report) %></p>
<div class="evaluation-report-content">
  <%= render_markdown(@previous_evaluation_target.evaluation_report.content) %>
</div>
