<h1><%= t(".title", default: "Editing Evaluation Report") %></h1>

<div class="box">
  <div class="columns">
    <div class="column">
      <%= link_to(t("actions.show"), @evaluation_report) %>
    </div>
  </div>
</div>

<div class="box">
  <%= render "evaluatee" %>
</div>

<%= render 'form', evaluation_report: @evaluation_report %>

<% if @previous_evaluation_target -%>
  <div class="box">
    <%= render "previous" %>
  </div>
<% end -%>

<div class="box">
  <%= render "summary" %>
</div>
