<h1><%= t(".title", default: t("actions.new", model: EvaluationReport.model_name.human)) %></h1>

<div class="box">
  <div class="columns">
    <div class="column">
      <%= link_to t("actions.back"),
                  @evaluation_report.evaluation_target.period %>
    </div>
  </div>
</div>

<div class="box">
  <%= render "evaluatee" %>
</div>

<%= render "form", evaluation_report: @evaluation_report %>

<% if @previous_evaluation_target -%>
  <div class="box">
    <%= render "previous" %>
  </div>
<% end -%>

<div class="box">
  <%= render "summary" %>
</div>
