<div class="box">
  <%= form_with(model: event, local: true) do |form| %>
    <% if event.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

        <ul>
          <% event.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :title %>
      <div class="control">
        <%= form.text_field :title %>
      </div>
    </div>

    <div class="field">
      <%= form.label :url %>
      <div class="control">
        <%= form.text_field :url %>
      </div>
    </div>

    <div class="field">
      <%= form.label :occurred_at %>
      <div class="control">
        <%= form.datetime_select :occurred_at, default: Date.current %>
      </div>
    </div>

    <div class="field">
      <%= form.label :description %>
      <div class="control">
        <%= form.text_area :description %>
      </div>
    </div>

    <div class="field">
      <%= form.label :participants %>
      <table>
        <thead>
          <tr>
            <th><%= User.human_attribute_name("name") %></th>
            <th><%= t("actions.select") %></th>
          </tr>
        </thead>

        <tbody>
          <%= form.fields_for(
                :participants,
                event.available_participants) do |participant_fields| -%>
            <% user = participant_fields.object.user -%>
            <tr>
              <td><%= user.name %></td>
              <td>
                <%= participant_fields.hidden_field(:event_id) %>
                <%= participant_fields.hidden_field(:user_id) %>
                <%= participant_fields.check_box(
                      :_destroy,
                      {checked: participant_fields.object.persisted?},
                      "0",
                      "1") %>
              </td>
            </tr>
          <% end -%>
        </tbody>
      </table>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <%= form.submit class: "is-primary" %>
      </div>
    </div>
  <% end %>
</div>
