<h1><%= t(".title", default: "Editing Event") %></h1>

<%= render 'form', event: @event %>

<div class="box">
  <div class="columns">
    <div class="column">
      <%= link_to t("actions.show"), @event %>
    </div>
    <div class="column">
      <%= link_to t("actions.back"), events_path %>
    </div>
  </div>
</div>
