<h1><%= t(".title", default: Event.model_name.human_plural) %></h1>

<div class="box">
  <div class="columns">
    <div class="column">
      <%= link_to t("actions.new", model: Event.model_name.human), new_event_path %>
    </div>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th><%= Event.human_attribute_name("title") %></th>
      <th><%= Event.human_attribute_name("url") %></th>
      <th><%= Event.human_attribute_name("occurred_at") %></th>
      <th><%= Event.human_attribute_name("description") %></th>
      <th><%= Event.human_attribute_name("participants") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= link_to event.url, event.url %></td>
        <td><%= event.occurred_at %></td>
        <td><%= render_markdown(event.description) %></td>
        <td>
          <ul>
            <% event.users.each do |user| -%>
              <li><%= link_to(user.name, events_path(user_id: user.id)) %></li>
            <% end -%>
          </ul>
        </td>
        <td><%= link_to t("actions.show"), event %></td>
        <td><%= link_to t("actions.edit"), edit_event_path(event) %></td>
        <td><%= link_to t("actions.destroy"),
                        event,
                        data: {
                          turbo_confirm: t("messages.confirmations.destroy"),
                          turbo_method: :delete,
                        } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%== pagy_nav(@pagy) if @pagy.pages > 1 %>

<div class="box">
  <div class="columns">
    <div class="column">
      <%= link_to t("actions.new", model: Event.model_name.human), new_event_path %>
    </div>
  </div>
</div>
