<%= form_with(model: item_tagging, local: true) do |form| %>
  <% if item_tagging.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item_tagging.errors.count, "error") %> prohibited this item_tagging from being saved:</h2>

      <ul>
        <% item_tagging.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :item_id %>
    <%= form.text_field :item_id %>
  </div>

  <div class="field">
    <%= form.label :item_tag_id %>
    <%= form.text_field :item_tag_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
