<h1><%= t(".title", default: "Editing Item Tagging") %></h1>

<%= render 'form', item_tagging: @item_tagging %>

<%= link_to t("actions.show"), @item_tagging %> |
<%= link_to t("actions.back"), item_taggings_path %>
