<h1><%= t(".title", default: ItemTag.model_name.human_plural) %></h1>

<div class="box">
  <div class="columns">
    <div class="column">
      <%= link_to t("actions.new", model: ItemTag.model_name.human),
                  new_item_tag_path %>
    </div>
  </div>
</div>

<div class="box">
  <table>
    <thead>
      <tr>
        <th><%= ItemTag.human_attribute_name("name") %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @item_tags.each do |item_tag| %>
        <tr>
          <td><%= item_tag.name %></td>
          <td><%= link_to t("actions.show"), item_tag %></td>
          <td><%= link_to t("actions.edit"), edit_item_tag_path(item_tag) %></td>
          <td><%= link_to t("actions.destroy"),
                          item_tag,
                          data: {
                            turbo_confirm: t("actions.confirmations.destroy"),
                            turbo_method: :delete,
                          } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
