<h1><%= t(".title", default: t("actions.new", model: ItemTag.model_name.human)) %></h1>

<div class="box">
  <div class="columns">
    <div class="column">
      <%= link_to t("actions.back"), item_tags_path %>
    </div>
  </div>
</div>

<%= render 'form', item_tag: @item_tag %>
