<h2><%= @item_tag.name %></h2>

<div class="box">
  <div class="columns">
    <div class="column">
      <%= link_to t("actions.edit"), edit_item_tag_path(@item_tag) %>
    </div>
    <div class="column">
      <%= link_to t("actions.back"), item_tags_path %>
    </div>
  </div>
</div>

<div class="box">
  <%= render 'items/index', items: @item_tag.items %>
</div>
