<h1><%= t(".title", default: "Editing Item Group") %></h1>

<div class="box">
  <div class="columns">
    <div class="column">
      <%= link_to t("actions.show"), @item_group %>
    </div>
    <div class="column">
      <%= link_to t("actions.back"), item_groups_path %>
    </div>
  </div>
</div>

<%= render "form", item_group: @item_group %>
