<h1><%= t(".title", default: ItemGroup.model_name.human_plural) %></h1>

<div class="box">
  <div class="columns">
    <div class="column">
      <%= link_to t("actions.new", model: ItemGroup.model_name.human),
                  new_item_group_path %>
    </div>
  </div>
</div>

<div class="box">
  <table>
    <thead>
      <tr>
        <th><%= ItemGroup.human_attribute_name("name") %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @item_groups.each do |item_group| %>
        <tr>
          <td><%= item_group.name %></td>
          <td><%= link_to t("actions.show"), item_group %></td>
          <td><%= link_to t("actions.edit"), edit_item_group_path(item_group) %></td>
          <td><%= link_to t("actions.destroy"),
                          item_group,
                          data: {
                            turbo_confirm: t("actions.confirmations.destroy"),
                            turbo_method: :delete,
                          } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
