<h2><%= @item_group.name %></h2>

<div class="box">
  <div class="columns">
    <div class="column">
      <%= link_to t("actions.edit"), edit_item_group_path(@item_group) %>
    </div>
    <div class="column">
      <%= link_to t("actions.back"), item_groups_path %>
    </div>
    <div class="column">
      <%= button_to t("actions.destroy"), @item_group, method: :delete %>
    </div>
  </div>
</div>

<div class="box">
  <%= render "items/index", items: @item_group.items %>
</div>
