<table>
  <thead>
    <tr>
      <th><%= Period.model_name.human %></th>
      <th><%= Assignment.human_attribute_name("evaluatee") %></th>
      <th><%= FinalEvaluation.human_attribute_name("value") %> </th>
      <th><%= FinalEvaluation.human_attribute_name("comment") %> </th>
    </tr>
  </thead>

  <tbody>
    <% final_evaluations.each do |final_evaluation| -%>
      <tr>
        <td class="<%= current_period_class(final_evaluation.period == @period) %>">
          <%= link_to(final_evaluation.period.name,
                      final_evaluation.period) %>
        </td>
        <td><%= final_evaluation.evaluatee.display_name %></td>
        <td><%= final_evaluation.value %></td>
        <td><%= render_markdown(final_evaluation.comment) %></td>
      </tr>
    <% end -%>
  </tbody>
</table>
