<h1><%= t(".title", default: "Editing Final Evaluation") %></h1>

<table>
  <thead>
    <tr>
      <th><%= Period.model_name.human %></th>
      <th><%= Assignment.human_attribute_name("evaluatee") %></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= link_to(@period.name, @period) %></td>
      <td><%= @evaluatee.display_name %></td>
    </tr>
  </tbody>
</table>

<%= render 'form', final_evaluation: @final_evaluation %>

<div class="box">
  <div class="columns">
    <div class="column">
      <%= link_to t("actions.show"), @final_evaluation %>
    </div>
    <div class="column">
      <% if @previous_final_evaluation %>
      <%= link_to t("actions.previous"),
                  edit_final_evaluation_path(@previous_final_evaluation) %>
      <% end %>
    </div>
    <div class="column">
      <% if @next_final_evaluation %>
      <%= link_to t("actions.next"),
                  edit_final_evaluation_path(@next_final_evaluation) %>
      <% end %>
    </div>
    <div class="column">
      <%= link_to t("actions.index"),
                  evaluation_target_final_evaluations_path(@evaluation_target) %>
    </div>
  </div>
</div>

<% if @final_evaluation_in_previous_period -%>
<div class="box">
  <h3><%= t("labels.previous_period") %></h3>
  <%= render "index", final_evaluations: [@final_evaluation_in_previous_period] %>
</div>
<% end -%>

<div class="box">
  <%= render "evaluations/index", evaluations: @evaluations %>
</div>

<div class="box">
  <%= render "items/show", item: @item %>
</div>

<div class="box">
  <%= render "events/index", events: @final_evaluation.events %>
</div>
