<div class="box">
  <%= render "index",
             final_evaluations: [
               @final_evaluation,
               @final_evaluation_in_previous_period
             ].compact %>
</div>

<div class="box">
  <div class="columns">
    <div class="column">
      <%= link_to t("actions.edit"),
                  edit_final_evaluation_path(@final_evaluation) %>
    </div>
    <div class="column">
      <%= link_to_if @previous_final_evaluation,
                     t("actions.previous"),
                     @previous_final_evaluation %>
    </div>
    <div class="column">
      <%= link_to_if @next_final_evaluation,
                     t("actions.next"),
                     @next_final_evaluation %>
    </div>
    <div class="column">
      <%= link_to t("actions.index"),
                  evaluation_target_final_evaluations_path(@evaluation_target) %>
    </div>
  </div>
</div>

<div class="box">
  <%= render "evaluations/index", evaluations: @evaluations %>
</div>

<div class="box">
  <%= render "items/show", item: @item %>
</div>

<div class="box">
  <%= render "events/index", events: @final_evaluation.events %>
</div>
