<div class="item-name">
  <h2><%= link_to("#{item.id}: #{item.name}", item) %></h2>
</div>
<div class="item-reason">
  <h3><%= Item.human_attribute_name("reason") %></h3>
  <%= render_markdown(item.reason) %>
</div>
<div class="item-example">
  <h3><%= Item.human_attribute_name("example") %></h3>
  <%= render_markdown(item.example) %>
</div>
<div class="item-note">
  <h3><%= Item.human_attribute_name("note") %></h3>
  <%= render_markdown(item.note) %>
</div>
<div class="item-group">
  <h3><%= Item.human_attribute_name("item_group") %></h3>
  <p><%= link_to(item.item_group.name, item.item_group) %></p>
</div>
<div class="item-tags">
  <h3><%= Item.human_attribute_name("item_tags") %></h3>
  <ul>
    <% item.item_tags.each do |item_tag| %>
      <li><%= link_to(item_tag.name, item_tag) %></li>
    <% end %>
  </ul>
</div>
