<h1><%= t(".title", default: "Editing Item") %></h1>

<div class="box">
  <div class="columns">
    <div class="column">
      <%= link_to t("actions.show"), @item %>
    </div>
    <div class="column">
      <%= link_to t("actions.back"), items_path %>
    </div>
  </div>
</div>

<%= render 'form', item: @item %>
