<%= form_with(model: standard, local: true) do |form| %>
  <% if standard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(standard.errors.count, "error") %> prohibited this standard from being saved:</h2>

      <ul>
        <% standard.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <div class="control">
      <%= form.text_field :name %>
    </div>
  </div>

  <div class="field">
    <%= form.label :description %>
    <div class="control">
      <%= form.text_area :description %>
    </div>
  </div>

  <div class="field">
    <%= form.label :items %>

    <table>
      <thead>
        <tr>
          <th><%= Item.human_attribute_name("id") %></th>
          <th><%= Item.human_attribute_name("name") %></th>
          <th><%= Item.human_attribute_name("reason") %></th>
          <th><%= Item.human_attribute_name("example") %></th>
          <th><%= Item.human_attribute_name("note") %></th>
          <th><%= t("actions.select") %></th>
        </tr>
      </thead>

      <tbody>
        <%= form.fields_for(
              :standardizations,
              standard.available_standardizations) do |standardization_fields| -%>
          <% item = standardization_fields.object.item -%>
          <tr>
            <td><%= item.id %></td>
            <td><%= item.name %></td>
            <td><%= render_markdown(item.reason) %></td>
            <td><%= render_markdown(item.example) %></td>
            <td><%= render_markdown(item.note) %></td>
            <td>
              <%= standardization_fields.hidden_field(:item_id) %>
              <%= standardization_fields.hidden_field(:standard_id) %>
              <%= standardization_fields.check_box(
                    :_destroy,
                    {checked: standardization_fields.object.persisted?},
                    "0",
                    "1") %>
            </td>
          </tr>
        <% end -%>
      </tbody>
    </table>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <%= form.submit class: "is-primary" %>
    </div>
  </div>
<% end %>
