<h1><%= t(".title", default: User.model_name.human_plural) %></h1>

<table>
  <thead>
    <tr>
      <th>Eメール</th>
      <th>名前</th>
      <th>管理者</th>
      <th>登録日時</th>
      <th>更新日時</th>
      <th>ロック日時</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%= user.admin? %></td>
        <td><%= user.created_at %></td>
        <td><%= user.updated_at %></td>
        <td><%= user.locked_at %></td>
        <td><%= link_to t("actions.show"), admin_user_path(user) %></td>
        <td><%= link_to t("actions.edit"), edit_admin_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t("actions.new", model: User.model_name.human), new_admin_user_path %>
