<h1><%= t(".title", default: EvaluationTarget.model_name.human_plural) %></h1>

<table>
  <thead>
    <tr>
      <th><%= EvaluationTarget.human_attribute_name("period") %></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= link_to(@period.name, @period) %></td>
    </tr>
  </tbody>
</table>

<% if @evaluation_target and @evaluation_target.errors.any? %>
<div class="box">
  <div id="error_explanation">
    <h2><%= pluralize(@evaluation_target.errors.count, "error") %> prohibited this evaluation target from being saved:</h2>

    <ul>
      <% @evaluation_target.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= EvaluationTarget.human_attribute_name("evaluatee") %></th>
      <th><%= Objective.model_name.human_plural %></th>
      <th><%= Assignment.model_name.human_plural %></th>
      <th><%= t("labels.selected") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <% target = @evaluation_targets[user.id] %>
      <tr>
        <td><%= user.display_name %></td>
        <td>
          <% if target %>
          <ul>
            <% target.objectives.each do |objective| %>
            <li><%= link_to(objective.item_tag.name,
                            objective.item_tag) %></li>
            <% end %>
          </ul>
          <% end %>
        </td>
        <td>
          <% if target %>
          <ul>
            <% target.assignments.each do |assignment| %>
            <li><%= assignment.evaluator.display_name %></li>
            <% end %>
          </ul>
          <% end %>
        </td>
        <td class="<%= target ? "is-primary" : "" %>">
          <span class="icon">
            <i class="fas <%= target ? "fa-check-square" : "fa-square" %>"></i>
          </span>
        </td>
        <td>
          <%= link_to_if(target, t("actions.show"), target) %>
        </td>
        <td>
          <%= link_to_unless(
                target,
                t("actions.select"),
                period_evaluation_targets_path(
                  @period,
                  evaluation_target: {evaluatee_id: user.id}
                ),
                data: {
                  turbo_method: :post,
                }
              ) %>
        </td>
        <td>
          <%= link_to_if(
                target,
                t("actions.unselect"),
                target,
                data: {
                  turbo_confirm: t("actions.confirmations.unselect"),
                  turbo_method: :delete,
                }
              ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
