<h1><%= EvaluationTarget.model_name.human %></h1>

<div class="box">
  <table>
    <thead>
      <tr>
        <th><%= EvaluationTarget.human_attribute_name("period") %></th>
        <th><%= EvaluationTarget.human_attribute_name("evaluatee") %></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= link_to(@period.name,
                        @period) %></td>
        <td><%= @evaluation_target.evaluatee.display_name %></td>
      </tr>
    </tbody>
  </table>
</div>

<h2><%= Objective.model_name.human_plural %></h2>
<div class="box">
  <table>
    <thead>
      <tr>
        <th><%= ItemTag.model_name.human %></th>
        <th><%= t("labels.selected") %></th>
        <th coslpan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @item_tags.each do |item_tag| %>
      <% objective = @selected_objectives[item_tag.id] %>
      <tr>
        <td><%= link_to(item_tag.name, item_tag) %></td>
        <td class="<%= objective ? "is-primary" : "" %>">
          <span class="icon">
            <i class="fas <%= objective ? "fa-check-square" : "fa-square" %>"></i>
          </span>
        </td>
        <td>
          <%= link_to_unless(
                objective,
                t("actions.select"),
                evaluation_target_objectives_path(
                  @evaluation_target,
                  objective: {item_tag_id: item_tag.id}
                ),
                data: {
                  turbo_method: :post,
                }) %>
        </td>
        <td>
          <%= link_to_if(objective,
                         t("actions.unselect"),
                         objective,
                         data: {
                           turbo_confirm: t("actions.confirmations.unselect"),
                           turbo_method: :delete,
                         }) %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<h2><%= Assignment.model_name.human_plural %></h2>
<div class="box">
  <table>
    <thead>
      <tr>
        <th><%= Assignment.human_attribute_name("evaluator") %></th>
        <th><%= t("labels.selected") %></th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <% assignment = @assignments[user.id] %>
        <tr>
          <td><%= user.display_name %></td>
          <td class="<%= assignment ? "is-primary" : "" %>">
            <span class="icon">
              <i class="fas <%= assignment ? "fa-check-square" : "fa-square" %>"></i>
            </span>
          </td>
          <td>
            <%= link_to_unless(
                  assignment,
                  t("actions.select"),
                  evaluation_target_assignments_path(
                    @evaluation_target,
                    assignment: {evaluator_id: user.id}
                  ),
                  data: {
                    turbo_method: :post,
                  }
                ) %>
          </td>
          <td>
            <%= link_to_if(
                  assignment,
                  t("actions.unselect"),
                  assignment,
                  data: {
                    turbo_confirm: t("actions.confirmations.unselect"),
                    turbo_method: :delete,
                  }
                ) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="box">
  <div class="columns">
    <div class="column">
      <%= link_to t("actions.index"), period_evaluation_targets_path(@period) %>
    </div>
  </div>
</div>
