<%= form_with(model: standardization, local: true) do |form| %>
  <% if standardization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(standardization.errors.count, "error") %> prohibited this standardization from being saved:</h2>

      <ul>
        <% standardization.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :standard_id %>
    <%= form.text_field :standard_id %>
  </div>

  <div class="field">
    <%= form.label :item_id %>
    <%= form.text_field :item_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
