<h1><%= t(".title", default: Standardization.model_name.human_plural) %></h1>

<table>
  <thead>
    <tr>
      <th>Standard</th>
      <th>Item</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @standardizations.each do |standardization| %>
      <tr>
        <td><%= standardization.standard_id %></td>
        <td><%= standardization.item_id %></td>
        <td><%= link_to t("actions.show"), standardization %></td>
        <td><%= link_to t("actions.edit"), edit_standardization_path(standardization) %></td>
        <td><%= link_to t("actions.destroy"),
                        standardization,
                        data: {
                          turbo_confirm: t("actions.confirmations.destroy"),
                          turbo_method: :delete,
                        } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t("actions.new", model: Standardization.model_name.human), new_standardization_path %>
