<h1><%= t(".title", default: t("actions.new", model: Standardization.model_name.human)) %></h1>

<%= render 'form', standardization: @standardization %>

<%= link_to t("actions.back"), standardizations_path %>
